body{
background-color: red;
background-image: url("image01.jpg");
background-position: center;
background-repeat: repeat;
color: rgb(238, 238, 238);


}

h1{

    color: sienna;
    background-color: skyblue;
    font: oblique 200% fantasy;
    text-align: center;
    border: 5px groove gold
    padding: 10px;
}

h2{
color: green;
background-color: hotpink;
padding: 10px;

}

h3{
color: indigo;
background-color: khaki;
padding: 10px;

}

h4{
color: lawngreen;
background-color: lightcoral;
padding: 10px;

}

img {
width: 400px%;
height: 300px;
border-radius: 10px;

}

a{
background: chocolate;
color: darkcyan;
padding: 20px;
text-decoration: none;
font-weight: 400;

}

a:hover{

    background-color: darkgray;
    color: darkgreen;
}

table{
    background-color: darkorange;
    color: white;
    padding: 5px;
    width: 500px;
}

/* Classes ---change particular tag using the class --- dot notation */ 

.TopNav{
background-color: white;
width: auto;
overflow: hidden;

}

.TopNav a {
    float: left;
    display: block;
    color: tomato;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
    }

    .TopNav .icon { 

display: none;
    }

input[type=text] {


    width: 100%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color: tomato;
    color: teal;

}

input[type=password] {


    width: 100%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color: tomato;
    color: teal;


}

input[type=submit] {
background-color: tomato;
color: teal;
width: fit-content;
padding: 10px 22px;
border: 5px blue
}

input[type=reset] {

    background-color:tomato;
    color:teal;
    width: fit-content;
    padding: 10px 22px;
    border: 5px blue;
}

input[type=submit]:hover{
    background-color: brown;
    color: burlywood;
    border-radius: 10px;
}

input[type=reset]:hover{
    background-color: brown;
    color: burlywood;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {

    .TopNav.responsive {position: relative;}
    .TopNav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
.TopNav.responsive a{
        float: right;
        display: block;
        text-align:left;
    }
}